* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: white;
}
body {
  background-color: black;
}
.btn {
  border: 1px solid black;
  margin: 4px;
  color: black;
  font-size: 1.5em;
  padding: 0.6em;
  border-radius: 2em;
}
.btn:hover {
  /* box-shadow: 3px 3px 4px rgb(199, 132, 32); */
  cursor: pointer;
  background-color: black;
  color: white;
}
.range {
  padding: 7px;
  float: right;
}
.number {
  font-size: 4em;
  color: black;
  width: 1.5em;
  background-color: white;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 45%;
}
.number::after {
  content: "";
  width: 100vw;
  background-color: white;
  height: 3px;
}
.input{
    float:left;
}
hr{
    height: 5px;
    background-color: white;
    position: relative;
    top:140px;
    z-index: -1;
}
input{
    background-color: black;
    border:1px solid white;
    font-size: 3em;
    color: white;
    margin-left: 40px;
    margin-bottom: 30px;
    width:70px;
    scrollbar-base-color:transparent;
}
.check{
    margin-left: 30px;
}
.text {
    margin-right: 10vw;
    font-size: 1.5em;

    float: right;
}
p{
    padding: 4px;
    margin-right: 20px;
}

.head{
    font-size:3.5em;
    text-align: center;
}